* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {
  background-color: #FF7F50;

}

nav {
  text-align: center;
  list-style: none;
  height: 25px;
  background-color: rgb(154, 209, 228);
  border: 1px solid black;
  border: outset;
  margin: 0 auto;
}

nav:hover {
  background-color: lightblue;


}


ul {
  word-spacing: 30px;
}

li {
  font-size: 1.125rem;
  list-style: none;
  display: inline-block;
  font-weight: 700;
  
}


p {
  padding-top: 8px;
  font-weight: 400;
  line-height: 1.725rem;

}


.contact  {
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: rgb(49, 218, 218);
  border: 2px solid rgb(146, 53, 53);
  box-shadow: 0 0 10px #000000;
  
}

.contact h1 {
  color: white;
}

.hobbies {
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: rgb(49, 218, 218);
  border: 2px solid rgb(146, 53, 53);
  box-shadow: 0 0 10px #000000;
}

.hobbies h1 {
  color: white;
}


.contact:hover {
  background-color: thistle;
}


.hobbies:hover {
  background-color: thistle;

}

