
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

nav {
  text-align: center;
  list-style: none;
  height: 25px;
  background-color: rgb(154, 209, 228);
  border: 1px solid black;
  border: outset;
  margin: 0 auto;
  margin-bottom: 100px;
}

img {
  width:200px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  text-align: center;
  display: block;
  box-shadow: 2px 2px white;
  
  
}

.image-hover:hover {
  background-color: gray;

}


body {
  background-color: #F5DAC4;
  

}



nav:hover {
  background-color: lightblue;


}


ul {
  word-spacing: 30px;
}

li {
  font-size: 1.125rem;
  list-style: none;
  display: inline-block;
  font-weight: 700;
  
}


p {
  padding-top: 8px;
  font-weight: 400;
  line-height: 1.725rem;

}


.card-style  {
  margin: 75px auto;
  text-align: center;
  background-color: #E3E3E3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 0 auto;
  height: 0 auto;
  min-width: 350px;
  
  
  
  
  
}

.card-style h1 {
  color: black;
  font-family: monospace,serif;
}



.hobbies h1 {
  color: white;
}


.card-style:hover {
  opacity: .8 ;
}


.hobbies:hover {
  background-color: thistle;

}

.about-style {
  display: block;
  margin: 100px 150px; 
  min-width: 400px;
  overflow: hidden;
  background-color: antiquewhite;
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
  
}

.about-style h1 {
  color: white;
  text-align: center;
  border-bottom: 2px solid black;
  
}


.background-image {
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2503058.jpg&imgrefurl=https%3A%2F%2Fwallpapercave.com%2Fnew-york-mets-citi-field-wallpaper&tbnid=QFlSqcqjyWcQNM&vet=12ahUKEwia2Nfl-tPtAhX5wCkDHaNqC0gQMygBegUIARCdAQ..i&docid=ei1hFICVPPemWM&w=1600&h=1050&q=1080p%20citi%20field&ved=2ahUKEwia2Nfl-tPtAhX5wCkDHaNqC0gQMygBegUIARCdAQ");
  background-repeat: no-repeat;
  background-position: center;
}


.footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
