* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  
  body {
    background-color: #FF7F50;
    
  }
  
  nav {
    text-align: center;
    list-style: none;
    height: 40px;
    margin-left: 200px;
    margin-right:200px;
    padding-top:5px;
    background-color: lightblue;
    border: outset;
    
  }
    
  nav:hover {
    background-color: lightblue; 
  
  }

    
    

  
  li {
    list-style: none;
    display: inline-block;
  }
  
  p {
    padding-top: 17px;
    font-weight: 400;
    line-height: 1.725rem;
    
  }
  
  
  .container {
    text-align: center;
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 10px #000000;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom:200px;
    margin-top: 50px;
    
    
  }
  
  .container:hover {
    background-color: lightgray;
    
  }
  
  
  
  